<div id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="section-container">
                    <h4 class="footer-title">Categories</h4>
                    <ul class="categories">
                        <li><a href="#">Latest</a></li>
                        <li><a href="#">Now playing</a></li>
                        <li><a href="#">Popular</a></li>
                        <li><a href="#">Top rated</a></li>
                        <li><a href="#">Upcoming</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="section-container">
                    <h4 class="footer-title">Upcoming</h4>
                    <ul class="recent-post">
                        <li>
                            <h4>
                                <a href="#">Nam ut urna hendrerit</a>
                                <span class="time">February 22, 2015</span>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                <a href="#">Class aptent taciti sociosqu</a>
                                <span class="time">July 15, 2015</span>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                <a href="#">Donec rhoncus arcu</a>
                                <span class="time">March 21, 2015</span>
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="section-container">
                    <h4 class="footer-title">About Daniel Correa</h4>
                    <address>
                        <strong>Universidad del Valle.</strong><br />
                        Software Engineer<br />
                        SOA, Software Development, DevOps<br />
                        P: +57 312 769 34 02<br />
                        <br />
                        <strong>Email</strong><br />
                        <a href="#">danielc.web@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-copyright" class="footer-copyright">
    <div class="container">
        <span class="copyright">&copy; 2016 Daniel Correa</span>
        <ul class="social-media-list">
            <li><a href="https://github.com/danielcb29"><md-icon fontSet="fa" fontIcon="fa-github"></md-icon></a></li>
            <li><a href="https://co.linkedin.com/in/danielcb29"><span class="fa fa-linkedin"></span></a></li>
        </ul>
    </div>
</div>