<div id="content" class="content">
    <div class="container">
        <div class="row row-space-30">
        	<h1>{{title}}</h1> <hr/>
            <div class="col-md-9">
                <ul class="post-list">
                    <li>
                        <div class="post-left-info">
                            <div class="post-date">
                                <span class="day"> <i class="fa fa-info-circle"></i></span>
                                <span class="month">Info</span>
                            </div>
                            <div class="post-likes">
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-info">
                            	<div class="col-md-6">
                            		<img id="img-me" src="assets/img/daniel.jpg" alt="Daniel Correa"/>
                            	</div>
                            	<div class="col-md-6">
                            		<h4 class="post-title">
	                                    Daniel Correa
	                                </h4>
	                                <div class="post-by">
	                                    <i>
	                                    	Universidad del Valle
	                                    </i>
	                                </div>
	                                <div class="post-desc">
	                                     Last semester computer science student.
Software Engineer at Universidad del Valle, with 2 year experience of software development with focus on service oriented architecture, full stack development, python (Django) development, REST APIs and database design.  Challenge driven, always willing to learn, and passionate about implementing new technologies and writing code.
	                                </div>
	                                <div>
	                            		<h4>Addtional Information:</h4>
	                            		<p>
	                            			<b>Interests:</b>
	                            			Service Oriented Architectures, DevOps, Search, Software Development

	                            		</p>
	                            		<p>
	                            			<b>Degree:</b>
	                            			Computer Science
	                            		</p>
	                            		<p>
	                            			<b>Recent technologies:</b>
	                            			AngularJS, Angular ,Django (Python), Java, Ruby, PostgreSQL, Elasticsearch, HTML5, Bootstrap, Git
	                            		</p>
	                            	</div>
                            	</div>
                        	</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="section-container">
                    <h4 class="section-title"><span>Follow Me</span></h4>
                    <ul class="sidebar-social-list">
                        <li><a href="https://github.com/danielcb29"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://co.linkedin.com/in/danielcb29"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="section-container">
                    <h4 class="section-title"><span>Contact Me</span></h4>
                    <ul class="sidebar-social-list">
                        <li>
                        <i class="fa fa-envelope"></i>
                        <i class="fa fa-envelope-o"></i><br/>
                         danielc.web@gmail.com <br/>
                         daniel.correa@correounivalle.edu.co
                        </li>
                        <li>
                        <i class="fa fa-phone"></i>
                        + 57 312 769 34 02
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
