<div class="collapse navbar-collapse" id="header-navbar">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a>MOVIES <b class="caret"></b></a>
            <div class="dropdown-content">
                <p><a [routerLink]="['/']">Popular</a></p>
                <p><a [routerLink]="['/movies', 'top_rated']">Top rated</a></p>
                <p><a [routerLink]="['/movies', 'upcoming']">Upcoming</a></p>
                <p><a [routerLink]="['/movies', 'now_playing']">Now playing</a></p>
            </div>

        </li>
        <li><a [routerLink]="['/people']">PEOPLE</a></li>
        <li><a [routerLink]="['/about-me']">ABOUT ME</a></li>
    </ul>
</div>