<div class="collapse navbar-collapse" id="header-navbar">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a>MOVIES <b class="caret"></b></a>
            <div class="dropdown-content">
                <div class="dropdown-title"><a [routerLink]="['/']"><b>POPULAR</b></a></div>
                <div class="dropdown-title"><a [routerLink]="['/movies', 'top_rated']"><b>TOP RATED</b></a></div>
                <div class="dropdown-title"><a [routerLink]="['/movies', 'upcoming']"><b>UPCOMING</b></a></div>
                <div class="dropdown-title"><a [routerLink]="['/movies', 'now_playing']"><b>NOW PLAYING</b></a></div>
            </div>

        </li>
        <li><a [routerLink]="['/people']">PEOPLE</a></li>
        <li><a [routerLink]="['/about-me']">ABOUT ME</a></li>
    </ul>
</div>