<div id="content" class="content">
    <div class="container">
        <div class="row row-space-30">
        	<h1>{{title}}</h1> <hr/>
            <div class="col-md-12">
                <ul class="post-list">
                    <li>
                        <div class="post-left-info">
                            <div class="post-date">
                                <span class="day"> {{getTotalMovies()}}</span>
                                <span class="month">Movies known for</span>
                            </div>
                            <div class="post-likes">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span *ngIf="!actor.popularity"> -- </span>
                                <span class="number">{{castFloatPercent(actor.popularity)}}</span>

                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-info">
                            	<div class="col-md-5">
                            		<img id="img-list" src="{{getImgUrl(actor.profile_path)}}" alt="Poster of actor: {{actor.name}}" sizes="185px"/>
                            	</div>
                            	<div class="col-md-7">
                            		<h4 class="post-title">
	                                    <a [routerLink]="['/actor', actor.id]">{{actor.name}}</a>
	                                </h4>
	                                <div class="post-by">
	                                    <i>Also known as: 
	                                    <span *ngIf="isEmpty(actor.also_known_as)"> -- </span>
	                                    {{actor.also_known_as}}
	                                    </i>
	                                </div>
	                                <div class="post-desc">
	                                     {{actor.biography}}
	                                </div>
	                                <div>
	                            		<h4>Personal Information:</h4>
	                            		<p>
	                            			<b>Gender:</b>
	                            			{{getGenderDisplay(actor.gender)}}
	                            		</p>
	                            		<p>
	                            			<b>Birthday:</b>
	                            			<span *ngIf="!actor.birthday"> -- </span>
	                            			{{actor.birthday | date}}
	                            		</p>
	                            		<p>
	                            			<b>Place of birth:</b>
	                            			<span *ngIf="isEmpty(actor.place_of_birth)"> -- </span>
	                            			{{actor.place_of_birth}}
	                            		</p>
	                            		<p>
	                            			<b>Website:</b>
	                            			<span *ngIf="actor.homepage"> -- </span>
	                            			{{actor.homepage}}
	                            		</p>
	                            		<p>
	                            			<b>Adult actor:</b>
	                            			{{actor.adult | capitalize }}
	                            		</p>
	                            	</div>	
                            	</div>
                        	</div>
                        </div>
                    </li> 
                </ul>
                <hr/>
                <div>
                	<h3>Cast <small>last five, orderded by release date...</small></h3>
                	<div class="post-list post-grid">
					    <div class="post-li col-md-4" *ngFor="let movie of cast | slice:0:5 | orderBy:'-':'release_date'" >
					        <div class="post-content">
					            <div class="post-image">
					                <a [routerLink]="['/movie', movie.id]"><img src="{{getImgUrl(movie.poster_path)}}" alt="Profile image of {{movie.original_title}}" /></a>
					            </div>
					            <div class="post-info">
					                <h4 class="post-title">
					                    <a [routerLink]="['/movie', movie.id]">{{movie.original_title}}</a>
					                </h4>
					                <div class="post-by">
					                    <i class="fa fa-calendar"></i> Release date : {{movie.release_date | date}}
					                    <span *ngIf="!movie.release_date"> -- </span>
					                </div>
					                <div class="read-btn-container">
					                    <a [routerLink]="['/movie', movie.id]">View details <i class="fa fa-angle-double-right"></i></a>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
					<h5 *ngIf="isEmpty(cast)" class="empty-msn">This actor doesn't have Cast</h5>
                </div>
                <div>
                	<h3>Crew <small>last five, orderded by release date...</small></h3>
                	<div class="post-list post-grid">
					    <div class="post-li col-md-4" *ngFor="let movie of crew | slice:0:5 | orderBy:'-':'release_date'" >
					        <div class="post-content">
					            <div class="post-image">
					                <a [routerLink]="['/movie', movie.id]">
					                <img src="{{getImgUrl(movie.poster_path)}}" alt="Profile image of {{movie.original_title}}" /></a>
					            </div>
					            <div class="post-info">
					                <h4 class="post-title">
					                    <a [routerLink]="['/movie', movie.id]">{{movie.original_title}}</a>
					                </h4>
					                <div class="post-by">
					                    <i class="fa fa-calendar"></i> Release date : 
					                    {{movie.release_date | date}}
					                    <span *ngIf="!movie.release_date"> -- </span>
					                </div>
					                <div class="read-btn-container">
					                    <a [routerLink]="['/movie', movie.id]">View details <i class="fa fa-angle-double-right"></i></a>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
					<h5 *ngIf="isEmpty(crew)" class="empty-msn">This actor doesn't have Crew</h5>
                </div>
            </div>
        </div>
    </div>
</div>
