<div class="row">
	<div class="col-md-12">
	    <div class="input-group m-b-20" id="search-group">
	        <input type="text" id="search-input" class="form-control input-white" placeholder="Search actor..." [(ngModel)]="query" (ngModelChange)="search()">
	        <div class="input-group-btn">
                <button type="button" class="btn btn-inverse" (click)="cleanInput()" ><i class="fa fa-times"></i></button>
            </div>
	    </div>
	    <div *ngIf="!isEmpty(results)" id="search-results">
	        <div *ngFor="let match of results | slice:0:6">
	        	<a (click)="redirectToActor(match.id)">
	                <div class="results-content">
	                    <img class="image-result" src="{{ getImgUrl(match.profile_path) }}" alt="Poster of actor: {{match.name}" /> 
	                    <strong class="result-name">{{ match.name }}</strong>
	                    <br/>
	                    <i class="known-for">
		                	<b>Known for:</b> {{getMoviesNames(match.known_for)}}
		                </i>
	                </div>
                </a>
	        </div>
	        <div class="total-results">
	        	<strong>Total results: </strong>{{totalResult}}	
	        </div>
	    </div>
	</div>	
</div>

